@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --text: #0a0a0a;
  --border: #e5e5e5;
  --separator: #d4d4d4;
  --secondary: #155e75;
}

.dark {
  --background: #171717;
  --foreground: #fafafa;
  --text: #0a0a0a;
  --border: #e5e5e5;
  --separator: #d4d4d4;
  --secondary: #0891b2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetBrains-mono);
  font-weight: 200;
}
