@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --text: #0a0a0a;
  --separator: #a3a3a3;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --text: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetBrains-mono);
}
